# {{ ansible_managed }}

ciphers = "{{ hitch_ciphers }}"
tls-protos = TLSv1.2
prefer-server-ciphers = on

frontend = {
    host = "{{ hitch_host }}"
    port = "{{ hitch_port }}"
{% if certbot_certs is defined %}
{% for item in certbot_certs %}
    pem-file = "/etc/hitch/{{ item.domains[0]|replace('*.', '') }}.pem"
{% endfor %}
{% else %}
    pem-file = "{{ hitch_pem }}"
{% endif %}
}
backend = "[{{ hitch_backend_ip }}]:{{ hitch_backend_port }}"    # 6086 is the default Varnish PROXY port.
workers = {{ hitch_workers }}

daemon = off

syslog = off
syslog-facility = "local2"
log-level = 2

user = "hitch"
group = "hitch"

{% if hitch_alpn %}
alpn-protos = "h2, http/1.1"
{% endif %}

# run Varnish as backend over PROXY; varnishd -a :80 -a localhost:6086,PROXY ..
write-proxy-v2 = on
